<header>
  <div class="heading">
    <div class="box">
      <%= link_to root_path do %>
        <div class="title">CraMasS</div>
        <div class="detail">〜クラフツマンズ ・ マスターストローク〜</div>
      <%end%>
    </div>
  </div>
</header>
<body>
  <div class="set-row">
    <div class="container">
      <p class="container-title">
      アカウント登録
      </p>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :会社名 %><br />
          <%= f.text_field :company %>
        </div>

        <div class="field">
          <%= f.label :住所 %><br />
          <%= f.text_field :address %>
        </div>

        <div class="field">
          <%= f.label :Eメール %><br />
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :電話番号 %><br />
          <%= f.text_field :tell %>
        </div>

        <div class="field">
          <%= f.label :ホームページアドレス（任意） %><br />
          <%= f.text_field :url %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>
</body>