<div class="contents row">
  <div class="container">
    <%= form_with(model: @machine, local: true) do |form| %>
      <h3>
        編集する
      </h3>
      機械カテゴリ：<br>
      <%= form.text_area :category, placeholder: "機械カテゴリ" , rows: "2" %><br>
      機械型式：<br>
      <%= form.text_area :model, placeholder: "型式" , rows: "2" %><br>
      製造日：<br>
      <%= form.text_area :made, placeholder: "機械製造日" , rows: "2" %><br>
      エンジニア：<br>
      <%= form.radio_button(:engineer, "あり") %>
      <%= form.label(:engineer, "あり", value: "あり")  %>
      <%= form.radio_button(:engineer, "なし") %>
      <%= form.label(:engenner, "なし", value: "なし") %><br>
       <%= form.file_field :image %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>