<div class="index-headding">
  <h1 class="title">▫︎検索結果▫︎</h1>
  <%= form_with(url: search_machines_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <div class= "emblem">
    <%= link_to root_path do %>
      <div class= "main-title">
        CraMasS
      </div>
      <div class= "stands-for">
        Craftsman's Master Stroke
      </div>
    <%end%>
  </div>
</div>
<div class="main-contents">
  <div class="index-contents">
    <% @machines.each do |machine| %>
      <%= render partial: "machine", locals: { machine: machine } %>
    <% end%>
  </div>
  <div class="cta-btn">
    <%= link_to "戻る", "/" %>
  </div>
</div>
<div class="index-footer">
</div>
