<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="new.scss">
    <title>Craftsman's Master Stroke</title>
  </head>

  <body>
    <div class="show-main">
      <div class="s-heading">
        <div class="s-box">
          <h1 class="title">▫︎製品詳細▫︎</h1>
        </div>
        <div class= "s-emblem">
          <%= link_to root_path do %> 
          <div class= "s-main-title">
            CraMasS
          </div>
          <div class= "s-stands-for">
            Craftsman's Master Stroke
          </div>
          <%end%>
        </div>
      </div>
      <div class="s-contents">
          <div class="s-info">
            <ul class="s-list">
              <li>
                カテゴリー：<br>
                <%= @machine.category %>
              </li>
              <li>
                型式：<br>
                <%= @machine.model %>
              </li>
              <li>
                メーカー：<br>
                <%= @machine.maker %>
              </li>
              <li>
                導入日：<br>
                <%= @machine.made %>
              </li>
              <li>
                エンジニア：<br>
                <%= @machine.engineer %>
              </li>
              <li>
                所在地：<br>
                <%= @machine.address %>
              </li>
            </ul>
            <div class="b-btn">
              <a href="/users/<%= @machine.user.id %>">
                <%= @machine.user.company %>
              </a>
            </div>
          </div>
          <div class="s-image">
            <%= image_tag(@machine.image.url, :size => "400x400") %>
          </div>
        <div>   
      </div>
      <div class="s-footer">
      </div>
    </div>
  </body>
</html>
