!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "new.scss", :rel => "stylesheet"}/
    %title Craftsman's Master Stroke
  %body
    .show-main
      .s-heading
        .s-box
          %h1.title ▫︎製品詳細▫︎
        .s-emblem
          = link_to root_path do
            .s-main-title
              CraMasS
            .s-stands-for
              Craftsman's Master Stroke
      .s-main
        .s-contents
          .s-info
            .info-tag
              カテゴリ：
            .category
              = @machine.category
            .info-tag
              型式：
            .model
              = @machine.model
            .info-tag
              メーカー：
            .maker
              = @machine.maker
            .info-tag
              導入日：
            .date
              = @machine.made
            .info-tag
              エンジニア：
            .engineer
              = @machine.engineer
            .info-tag
              所在地：
            .address
              = @machine.address
            .b-btn
              %a{:href => "/users/#{@machine.user.id}"}
                = @machine.user.company
          .s-image
            = image_tag(@machine.image.url, :size => "400x400")
      .s-footer
